<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <%
        const newPasswordError = errorMessage.find(e => e.param === 'newPassword');
        const confirmPasswordError = errorMessage.find(e => e.param === 'confirmPassword');
    %>
    <main>
        <form class="login-form" action="/new-password" method="POST">
            <div class="form-control">
                <label for="newPassword">New Password</label>
                <input 
                    class="<%= newPasswordError ? 'invalid' : '' %>"
                    type="password" 
                    name="newPassword" 
                    id="newPassword" 
                    value="<%= originInput.newPassword %>"
                >
                <% if (newPasswordError) { %>
                    <span><%= newPasswordError.msg %></span>
                <% } %>
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input 
                    class="<%= confirmPasswordError ? 'invalid' : '' %>"
                    type="password" 
                    name="confirmPassword" 
                    id="confirmPassword" 
                    value="<%= originInput.confirmPassword %>"
                >
                <% if (confirmPasswordError) { %>
                    <span><%= confirmPasswordError.msg %></span>
                <% } %>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="token" value="<%= token %>">
            <button class="btn" type="submit">Update Password</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>